<form [formGroup]="studentFormGroup">
    <div class="form-group">
        <label for="name">{{'student_creation.name' | translate}}</label>
        <input 
            type="text" 
            class="form-control" 
            id="name" 
            aria-describedby="emailHelp" 
            [placeholder]="'student_creation.enter_name' | translate"
            formControlName="name"
        />
    </div>

    <div class="form-group">
        <label for="mobileNumber">{{'student_creation.mobile_number' | translate}}</label>
        <input 
            type="text" 
            class="form-control" 
            id="mobileNumber" 
            [placeholder]="'student_creation.enter_mobile_number' | translate"
            formControlName="mobileNumber"
        />
    </div>    

    <div class="form-group">
        <label for="birthday">{{'student_creation.birthday' | translate}}</label>
        <input id="birthday" class="form-control" type="date" formControlName="birthday"/>
    </div>

    <div class="form-group">
        <label for="semester">{{'student_creation.semester' | translate}}</label>
        <input id="semester" class="form-control" type="number" formControlName="semester" [placeholder]="'student_creation.enter_semester' | translate"/>
    </div>

    @if (!isCreating) {
        <button type="submit" (click)="createStudent()" class="btn btn-primary">{{'student_creation.button_title' | translate}}</button>
    } @else {
        <div class="spinner-border text-primary" role="status" style="margin: auto;">
            <span class="sr-only"></span>
        </div>
    }    
</form>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>
