<form [formGroup]="studentFormGroup">
    <div class="form-group">
        <label for="name">{{'student_creation.name' | translate}}</label>
        <input 
            type="text" 
            class="form-control" 
            id="name" 
            aria-describedby="emailHelp" 
            [placeholder]="'student_creation.enter_name' | translate"
            formControlName="name"
        />
    </div>

    <div class="form-group">
        <label for="mobileNumber">{{'student_creation.mobile_number' | translate}}</label>
        <input 
            type="text" 
            class="form-control" 
            id="mobileNumber" 
            [placeholder]="'student_creation.enter_mobile_number' | translate"
            formControlName="mobileNumber"
        />
    </div>

    <div class="form-group">
        <label for="birthday">{{'student_creation.birthday' | translate}}</label>
        <input id="birthday" class="form-control" type="date" formControlName="birthday"/>
    </div>

    <div class="form-group">
        <label for="semester">{{'student_creation.semester' | translate}}</label>
        <input id="semester" class="form-control" type="number" formControlName="semester" [placeholder]="'student_creation.enter_semester' | translate"/>
    </div>

    @if (!isCreating) {
        <button type="submit" (click)="createStudent()" class="btn btn-primary">
            @if (isCreationSuccess && !isInvalidData) {
                {{'student_creation.button_title' | translate}}
            } @else if (isCreationSuccess && isInvalidData) {
                {{'common.invalid_data' | translate}}
            } @else {
                {{ 'common.error_retry' | translate }}
            }
        </button>
    } @else {
        <div class="spinner-border text-primary" role="status" style="margin: auto;">
            <span class="sr-only"></span>
        </div>
    }    
</form>
