$color-darkgreen: #287df8;
$color-gray: #bfd9ff;
$color-lightbrown: #d9e6f3;

body, html {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}

body {
    box-sizing: border-box;
    padding: 12px;
    background-color: $color-lightbrown;

    overflow-y: auto;
}

body::-webkit-scrollbar {
    display: none;
}
