@import '../../../../styles.scss';

:host {
    width: calc(100% - 6px);
    height: 50%;
    min-height: 400px;

    border: $color-darkgreen solid 3px;
    border-radius: 12px;
    background-color: $color-gray;

    padding: 6px;

    @media screen and (width > 1400px) {
        height: 100%;
    }    
}