<button 
    type="button"
    class="btn btn-outline-primary"
    (click)="changeLangauge()"
    style="margin-bottom: 6px;">
    
    {{translate.currentLang == 'hu' ? ('language.hu' | translate) : ('language.en' | translate)}}
</button>

<form [formGroup]="loginFormGroup">
    
    @if (!authService.isLoggedIn) {
        <div class="form-group">
            <label for="username">{{'login.username' | translate}}</label>
            <input 
                type="text" 
                class="form-control" 
                id="username" 
                aria-describedby="emailHelp" 
                [placeholder]="'login.enter_username' | translate"
                formControlName="username"
            >
        </div>
        
        <div class="form-group">
            <label for="password">{{'login.password' | translate}}</label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                [placeholder]="'login.enter_password' | translate"
                formControlName="password"
            >
        </div>  
    }

    @if (!isValidatingCredentials) {
        <button 
            type="button" 
            class="btn btn-primary"
            (click)="authService.isLoggedIn ? logout() : login()">
            
            {{authService.isLoggedIn ? 
                ('login.button_logout' | translate) : 
                    (isLoginSuccess ? 
                    ('login.button_login_success' | translate) : 
                     'login.button_login_fail' | translate)}}
        </button>
    } @else {
        <div class="spinner-border text-primary" role="status" style="margin: auto;">
            <span class="sr-only"></span>
        </div>
    }
</form>
