@import '../../../../styles.scss';

:host {
    width: calc(100% - 6px);
    height: fit-content;

    border: $color-darkgreen solid 3px;
    border-radius: 12px;
    background-color: $color-gray;

    padding: 6px;

    h3 {
        text-align: center;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        gap: 12px;
    }
}